$spacing: 1.5em;

$text-primary: #333;
$text-secondary: #666;
$text-light: #999;

$bg-1: #f1f1f1;
$bg-2: white;

$gray1: #3c3c3d !default;
$gray2: #5a5a5b !default;
$gray3: #7d7d7e !default;

// light shades
$gray4: #cdcdce !default;
$gray5: #dededf !default;
$gray6: #efeff0 !default;

$font-fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$dual: 'Dual W00', $font-fallback; // 400, 500, 600, 700




@import 'mixins/_media-queries';
@import '_normalize';
@import '_animation';


*,
*:after,
*:before {
  box-sizing: border-box;
}


html {
  box-sizing: border-box;
  font-size: 100%;

  @include desktop {
    font-size: 115%;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $dual;
  color: $gray1;
  background-color: $gray1;
}

h1, h2, h3, h4 {
  font-family: $dual;
  line-height: 1;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: $gray6;
}

$circle-size: 4rem;

.circle {
  // display: table;
  // width: $circle-size;
  // height: $circle-size;
  position: absolute;
  // vertical-align: middle;
  text-align: center;
  width: 100%;
  top: $spacing/2;
  left: $spacing/2;
}

.circle__backdrop {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // right: 0;
  // left: 0;
  // border-radius: 50%;
  // padding: $spacing;
  // background-color: rgba($gray3, 0.9);
  // display: inline-block;
  // margin: 0 auto;
  // width: $circle-size;
  // height: $circle-size;
  // z-index: 10;
}

.circle__title {
  // position: relative;
  // display: table-cell;
  color: $gray2;
  // vertical-align: middle;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 100;
  font-size: 1.35rem;
  margin: 0;
  text-align: center;
  width: 100%;
}

.focus {
  position: absolute;
  top: 42%;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}


.headline {

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: $spacing;
    text-transform: uppercase;
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: $gray2;

    &:last-of-type {
      margin-right: 0;
    }

    @include tablet {
      margin-right: $spacing*1.5;
    }

    @include desktop {
      margin-right: $spacing*2;
    }
  }
}

.switch {
  position: absolute;
  bottom: $spacing;
  text-align: center;
  width: 100%;

  span {
    background-color: $gray6;
    padding: $spacing/4 $spacing;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    color: $gray3;
    border-radius: 0.15rem;
    border: 1px solid $gray4;
    cursor: pointer;
    transition: background 0.35s ease-in-out;

    &:hover {
      background-color: $gray4;
    }
  }
}

.contact {
  position: absolute;
  bottom: $spacing/2;
  text-align: center;
  left: $spacing;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;

  a {
    color: $gray3;
    text-decoration: none;
  }
}

.colophon {
  position: absolute;
  bottom: $spacing/2;
  text-align: center;
  right: $spacing;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;


  a {
    color: $gray3;
    text-decoration: none;
  }
}


